<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title || 'BookHaven' %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a> |
    <a href="/login">Login</a>
    <a href="/to-read">To-Read List</a>

  </nav>
  <hr>
